@import "../../../styles/variables.css";

.side-navigation {
  background-color: var(--color-black);
}

a, a:active, a:hover {
  text-decoration: none;
  color: var(--color-white);
}

.sidebar-icon {
  height: auto;
  width: 40px;
}

h4 {
  display: inline-block;
}

.sidebar-title {
  font-size: 18px;
}

.account-header {
  color: var(--color-gold);
  border: 3px solid var(--color-gold);
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
}
