:root {
  --color-white: #F7F5F5;
  --color-red: #C35040;
  --color-gold: #E8A937;
  --color-green: #8DA197;
  --color-black: #262736;
  --color-grey: #E3E3E3;
  --color-darkgreay: #828282;
  --icon-margin: 1rem;
}
