@import "../../../styles/variables.css";

.transactions {
  background-color: var(--color-grey);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}


.delim {
  height: 1px;
  width: 100%;
  background-color: var(--color-darkgrey);
}
