@import "../../styles/theme.css";

h3 {
    position: absolute;
    width: 632px;
    height: 61px;
    top: 100px;
}

.recurringCard {
    background-color: var(--color-grey);
    color: var(--color-black);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    width: 200px;
    left: 50px;
    height: 80px;
  }

  .customCheckbox {
    display: initial;
    position: relative;
    padding-left: 20px;
    margin-left: .8rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }